@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    font-family: Arial ,sans-serif;
    overflow: hidden;
}

.white-btn {
    background: white;
    color: gray;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.hide {
    display: none !important;
}

.main {
    padding: 1rem 2rem;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.backdrop::after, .backdrop .filler{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 20%,rgba(0,0,0,0.4) 80%);
}

.backdrop .filler {
    z-index: 1;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: 500ms;
}

.backdrop img{
    width: 100%; 
    transition: 1s;
    position: absolute;
    left: 0;
    top: 0;
}

.backdrop img.hide {
    opacity: 0 !important;
}

button, a {
    text-decoration: none;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer
}

ul {
    display: flex;
    gap: 5rem;
    padding: 0;
}

li {
   list-style: none;
}

#navbar, .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.links {
    gap: 10rem;
}

.links div:last-child {
    display: flex;
    gap: 5rem;
}


.links div:last-child button {
    font-size: 1.1rem;
    font-weight: 600;
 }

#section {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.line-indicator {
    width: 1.5px;
    height: 40vh;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8rem;
    padding-top: 5rem;
    align-items: center;
    margin-left: 1.5rem;
}

.line-indicator > div {
    transform: scale(0.5);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-indicator > div::before {
    content: attr(data-index);
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    transform-origin: center;
}

.line-indicator > div.active {
    transform: scale(1);
}

.texts {
    text-shadow: 0 0 20px rgba(0,0,0, 0.7);
    background: rgba(0,0,0,0.2);
    padding: 2rem 1rem;
    margin-left: 2rem;
    flex: 1;
}

.texts h1 {
    font-size: 5rem;
    margin: 0;
}

.texts p {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
}

.texts button {
    font-size: 1.5rem;
    padding: 0.7rem 2rem;
    background: #24BAEC;
    margin-top: 3rem;
 }

.gallery {
    position: relative;
    display: flex;
    width: 50vw;
    flex: 1;
}

.gallery .controls {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: -6rem;
}

.gallery .controls button{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: rgba(255,255,255, 0.4);
    color: rgba(255,255,255, 0.9);
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.gallery .controls button.clicked {
    transform: scale(0.85);
}

.wrapper { 
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: 25rem;
}

.card {
    font-size: 1.1rem;
    font-weight: 600;
    transition: 1s;
}

.card .starred {
    margin: .4rem 0;
    font-size: 0.8rem;
}

.card .card-body {
    width: 17rem;
    height: 20rem;
    overflow: hidden;
    transition: 1s;
    position: relative;
    border-radius: 10px;
}

.card.active .card-body {
    height: 25rem;
}

.card .card-body button {
    width: 2.5rem;
    padding: 1.3rem;
    height: 2.5rem;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.two-indicators {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.two-indicators > div {
    display: flex;
    align-items: center;    
}

.two-indicators > div:first-child {
    gap: 2.5rem; 
    margin-left: 0.4rem;
}

.number-indicator-container {
    display: inline-flex;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 600;
}

.number-indicator-container > div {
    /* the forward slash(/) became blurry after the transformation (they said it was only in chrome)  so I added this, this code from stack overflow hehhe*/
    -webkit-font-smoothing: antialiased;
    -webkit-filter: blur(0.000001px);
    transform: rotate(-90deg);
    display: flex;
    gap: 0.1rem;
 }

 .number-indicator-container > div > div {
    display: inline-block;
 }

 .name-indicator {
    color: rgba(255,255,255, 0.1);
    font-size: 3rem;
    font-weight: 800;
    display: inline-block;
 }

 .something {
    display: flex;
    font-weight: 600;
    font-size: 0.85rem;
 }

 .something .line {
    width: 4rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 }

#loader {
    transition: 2s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#loader .logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15rem;
}

#loader .logo-container  > img {
    width: 15rem;
    z-index: 5;
}

#loader .wings {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: rotate(calc(45deg * var(--i)));
}

#loader .wings img {
    width: 4rem;
    transform: rotate(180deg) translateY(0%);
    transition: 2s;
}

#loader .logo-container:hover .wings img {
    transform: rotate(180deg) translateY(-80%);
}

#loader .wings img.show {
    transform: rotate(180deg) translateY(-80%);
}

#loader .text-container {
    color: black;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 6rem;
}
